  <div class="b-example-divider d-block"></div>

  <div class="container px-4 py-5" id="hanging-icons">
    <div class="pb-2 border-bottom">
      <h2>Datos <%= @user.name %></h2>
      <%= link_to "Volver", users_path, class: "btn btn-secondary bg-white" %>
    </div>
    
    <div class="row g-4 py-5 d-inline">
      <div class="col d-flex align-items-start">
        <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#toggles2"/></svg>
        </div>
        <div>
          <h2>Descripción</h2>
          <p><%= @user.description %></p>
          <a href="#" class="btn btn-primary">
            Algo que hacer con el botón?
          </a>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#cpu-fill"/></svg>
        </div>
        <div>
          <h2>Hobbies</h2>
          <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
          <ul>
            <% @user.hobbies.each do |hobby| %>
              <li><%= hobby.hobby %></li>
            <% end %>
          </ul>
          <a href="#" class="btn btn-primary">
            Modificar?
          </a>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#tools"/></svg>
        </div>
        <div>
          <h2>Trabajos</h2>
          <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
          <ul>
            <% @user.jobs.each do |job| %>
              <li><%= job.job_title %></li>
            <% end %>
          </ul>
          <a href="#" class="btn btn-primary">
            Agregar?
          </a>
        </div>
      </div>
    </div>
  </div>